body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

body.waiting-ready, .noscript-container {
  background-color: #dcd3b2;
}

body.waiting-ready {
  /* opacity: 0.5; */
}

.noscript-container {
  padding: 1em;
  text-align: center;
}

.animation-pokeball-shake {
  animation-duration: 1s;
  animation-name: pokeball-shake;
}

.pokeball-component.ready .pokeball, .animation-zoom-in {
  animation: zoom-in 4s 1;
  animation-fill-mode: forwards;
}

.animation-fade-out {
  animation: fade-out 2s 1;
  animation-fill-mode: forwards;
}

.animation-zoom-out {
  animation: zoom-out 2s 1;
  animation-fill-mode: forwards;
}

.waiting-ready-progress {
  padding-top: 1em;
}

.waiting-ready-progress .bar {
  margin: 0 auto;
  animation: loading-bar 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  width: 90%;
  height: 6px;
  border-radius: 2px;
  background-color: red;
}

/** from https://codepen.io/raubaca/pen/obaZmG **/

.pokeball-container, .pokeball-container *, .pokeball-container *::before, .pokeball-container *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pokeball-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Poké Styles */

.pokeball {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: pokeball-shake 1.5s cubic-bezier(.36, .07, .19, .97) infinite;
}

.pokeball::before, .pokeball::after {
  content: "";
  position: absolute;
}

.pokeball::before {
  background: #ee1515;
  width: 100%;
  height: 50%;
}

.pokeball::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000;
}

.pokeball__button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px #222224;
  animation: blink .5s alternate infinite;
}

.pokeball-container:hover .pokeball {
  animation: pokeball-shake 1.30s cubic-bezier(.36, .07, .19, .97) 99;
}

.pokeball-container:hover .pokeball__button {
  animation: blink .6s alternate 99;
}

/* Animation */

@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #e74c3c;
  }
}

@keyframes pokeball-shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes fall {
  0% {
    top: -200px
  }
  60% {
    top: 0
  }
  80% {
    top: -20px
  }
  100% {
    top: 0
  }
}

@keyframes loading-bar {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    background-color: #fff;
    width: 20%;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(40, 40);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}